[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.mod,*.ent,*.dtd,*.elt}]
indent_style=tab
tab_width=2

[{*.jhm,*.xjb,*.rng,*.wsdl,*.fxml,*.plan,*.pom,*.xslt,*.jrxml,*.ant,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.wsdd,*.wadl,*.xml}]
indent_style=tab
tab_width=2

[{.prettierrc,.babelrc,.stylelintrc,jest.config,.eslintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[*.java]
indent_style=tab
tab_width=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

